<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bookstore-exercise</title>
    <style>
        label {
            display: block;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
    <h1>Add new book</h1>
    <div>
        <form th:action="@{/save}" action="#" method="post" th:object="${book}">
            <label>Title: <input type="text" th:field="*{title}" /></label>
            <label>Author: <input type="text" th:field="*{author}" /></label>
            <label>ISBN: (13 digits) <input type="text" th:field="*{isbn}" pattern="\d{13}"/></label>
            <label>Year: <input type="number" th:field="*{publicationYear}" /></label>
            <label>Price: <input type="number" th:field="*{price}" max="50" step="0.10" /></label>
            <input type="submit" value="Add" />
        </form>
    </div>
    <br>
    <a href="/booklist">See all books</a>
</body>
</html>